<html ng-app="dashboard">
<head>
<title>Admin | Honda Lover's Blog</title>
<link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="../JavaScript/admin.js"></script>
</head>
<body>
<header class="container">
<center>
	<h1>Honda Lover's Blog - Admin</h1>
	<h4>A blag about Honda and motorbeeks.</h4>
</center>
<div class="pure-menu pure-menu-horizontal">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#" class="pure-menu-link">Home</a></li>
        <li  role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Posts</a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="#" class="pure-menu-link">All Posts (112)</a></li>
                <li role="presentation"><a href="#" class="pure-menu-link">Drafts</a></li>
                <li role="presentation"><a href="#" class="pure-menu-link">New Post</a></li>
            </ul>
        </li>
		<li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="#" class="pure-menu-link">All Pages (12)</a></li>
                <li role="presentation"><a href="#" class="pure-menu-link">New Page</a></li>
            </ul>
        </li>
		<li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Media</a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="#" class="pure-menu-link">Media Files (86)</a></li>
                <li role="presentation"><a href="#" class="pure-menu-link">Upload</a></li>
            </ul>
        </li>
		<li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="#" class="pure-menu-link">Users List (8)</a></li>
                <li role="presentation"><a href="#" class="pure-menu-link">User Permissions</a></li>
                <li role="presentation"><a href="#" class="pure-menu-link">New User</a></li>
            </ul>
        </li>
		<li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Handa-san</a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="#" class="pure-menu-link">Settings</a></li>
                <li role="presentation"><a href="#" class="pure-menu-link">Log Out</a></li>
            </ul>
        </li>
    </ul>
</div>
</header>
<div class="content container" ng-controller="DashboardController as dashboard">
	<div class="row">
		<div class="col-xs-12">
			<h1>{{ dashboard.response.page_title }}</h1>
			<div ng-show="dashboard.response.type='table'">
				<table class="pure-table pure-table-horizontal" style="min-width:100%">
					<thead>
						<tr>
							<th ng-repeat="col in dashboard.response.cols">{{ col }}</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="row in dashboard.response.rows">
							<td ng-repeat="col in dashboard.response.cols">{{ row[col] }}</td>
						</tr>
						
					</tbody>
				</table>
			</div>
			<div ng-show="dashboard.response.type='form'" class="col-md-8 col-md-offset-2">
			<form>
				<div ng-repeat="input in dashboard.response.inputs">
					<div ng-switch on="input.type">
					
						<div ng-switch-when="textarea">
							<div class="form-group">
								<label for="{{ input.title }}">{{ input.title }}</label>
								<textarea type="{{ input.type }}" class="form-control" id="{{ input.title }}" prefill="{{ input.prefill }}">{{ input.value }}</textarea>
							  </div>
						</div>
						
						<div ng-switch-when="mce">
							<div class="form-group">
								<label for="{{ input.title }}">{{ input.title }}</label>
								<textarea type="{{ input.type }}" class="form-control" id="{{ input.title }}" prefill="{{ input.prefill }}">{{ input.value }}</textarea>
							  </div>
						</div>
						
						<div ng-switch-when="select"><!-- Selecting from a dropdown list of options. -->
							<div class="form-group">
								<label for="{{ input.title }}">{{ input.title }}</label>
								<select name="{{ input.name }}" class="form-control">
									<option ng-repeat="option in input.options" value="{{ option.name }}">{{ option.title }}</option>
								</select>
							  </div>
						</div>
						
						<div ng-switch-when="checkbox">
							<div class="checkbox">
								<label><input type="checkbox" ng-checked="input.checked == 'true'" value="on" name="{{ input.name }}">{{ input.title }}</label>
							</div>
						</div>
						
						<div ng-switch-default> <!-- By default assume the input is a standard box type. -->
							 <div class="form-group">
								<label for="{{ input.title }}">{{ input.title }}</label>
								<input type="{{ input.type }}" class="form-control" id="{{ input.title }}" prefill="{{ input.prefill }}" value="{{ input.value }}">
							  </div>
						</div>
					</div><!--Close ng-switch-->
				</div><!--Close loop over inputs-->
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
			</div><!-- Close forms code -->
		</div>
	</div>
</div>
</body>
</html>