<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Pages</h1><br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <form action="#/page-form">
            <button type="submit" class="btn btn-primary"><i class="fa fa-plus-square fa-fw"></i> New Page</button>
          </form>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Keywords</th>
                      <th>Date</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="page in pageCtrl.pages">
                    <tr ng-if="page.name=='loading'">
                      <td>Loading...</td>
                      <td>Loading...</td>
                      <td>Loading...</td>
                      <td>Loading...</td>
                      <td>Loading...</td>
                    </tr>
                    <tr id={{page.name}} ng-hide="page.name=='loading'">
                      <td><a ng-href="#/page-form/{{page.name}}">{{page.name}}</a></td>
                      <td>{{page.description}}</td>
                      <td>{{page.keywords}}</td>
                      <td>{{page.date}}</td>
                        <td>
                          <form ng-submit="deletePage(page)" ng-controller="cmsPageListCtrl">
                            <button type="submit" class="btn btn-danger">Delete</button>
                          </form>
                        </td> <!-- Delete Button -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>