<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Upload Image</h1><br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Maximum image size: 8MB
        </div>
        <div class="panel-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                <center><a target="_blank" ng-href="{{imageCtrl.imageS3Url}}"><strong>{{imageCtrl.imageS3Url}}<br/></strong></a></center>
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default" onclick="$('#file-input').click();">
                      <span class="glyphicon glyphicon-file"></span>
                    </button>
                  </span>
                  <input type="file" accept="image/*" file-model="imageCtrl.image" id="file-input" style="display:none">
                  <input type="text" id="fake-file-input-name" disabled="disabled" placeholder="File not selected" class="form-control" ng-model="imageCtrl.image.name">
                  <span class="input-group-btn" ng-hide="!(imageCtrl.image)">
                    <button class="btn btn-default" ng-click="imageCtrl.image=undefined">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </span>
                </div>
              </div>
              <div class="col-lg-2"></div>
            </div>
            <div class="row" ng-hide="!(imageCtrl.image)">
              <div class="col-lg-2"></div>
              <div class="col-lg-4">
                <button type="button" class="btn btn-primary" ng-click="imageCtrl.refreshPreview()" style="width:100%;display:block;">
                  <center>Summon Preview</center>
                </button>
              </div>
              <div class="col-lg-4">
                <button type="button" class="btn btn-primary" ng-click="imageCtrl.upload()" style="width:100%;display:block;">
                  <center>Upload Image</center>
                </button>
              </div>
              <div class="col-lg-2"></div>
            </div>
            <div class="row" ng-hide="!(imageCtrl.imageUrl)">
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                <div align="center">
                  <image class="img-thumbnail" ng-src="{{imageCtrl.imageUrl}}" style="max-width:100%;max-height:600px;"></image>
                </div>
              </div>
              <div class="col-lg-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>