<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Visitor Navigation</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Edit The Visitor Navigation
        </div>
        <div class="panel-body">
          <form role="form" ng-submit="visitorNavFormCtrl.submitNav()">
            <div ng-repeat="navigationItem in visitorNavFormCtrl.navigationItems">
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">Title</span>
                    <input type="text" class="form-control" placeholder="Navigation item name"ng-model="navigationItem.title">
                    <span class="input-group-addon" id="basic-addon3">Url</span>
                    <input type="url" class="form-control" placeholder="Some link" ng-model="navigationItem.url">
                    <span class="input-group-btn">
                      <button class="btn btn-default" ng-click="visitorNavFormCtrl.removeItem(visitorNavFormCtrl.navigationItems.indexOf(navigationItem))">
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                    </span>
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-10">
                <button type="button" class="btn btn-primary" ng-click="visitorNavFormCtrl.addItem()">Add Item</button>
              </div>
              <div class="col-lg-1"></div>
            </div>
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-10">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
              <div class="col-lg-1"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>