<div class="container">
	<div class="row" ng-controller="SettingsController as settings">
		<h1 class="center-align grey-text text-darken-3">{{ settings.site_name }}</h1>
		<p class="center-align grey-text text-darken-1">{{ settings.site_description | html }}</p>
		<div class="col m6 offset-m3">
			<hr />
		</div>
	</div>
	 <div class="row">
		<div class="col s12 m8 offset-m2">
		  <div class="card white z-depth-2" ng-repeat="post in home.posts">
			<div class="card-content">
			  <a href="#/post/{{ post.ID }}" class="black-text"><span class="card-title">{{ post.Title }}</span>
			  <p>{{ post.Description | html }}</p></a>
			</div>
			<div class="card-action">
			  <a href="#/post/{{ post.ID }}" class="{{ highlight_colour }}-text">{{ post.SavedDate }}</a>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="row">
		<a ng-href="{{ home.previous_page ? '#/home/'+home.previous_page : '' }}" class="btn-large {{ highlight_colour }} {{ !home.previous_page ? 'disabled': 'waves-effect waves-light' }}">&lt; Previous</a><a ng-href="{{ home.next_page ? '#/home/'+home.next_page : '' }}" class="btn-large right {{ highlight_colour }} {{ !home.next_page ? 'disabled': 'waves-effect waves-light' }}">Next &gt;</a>
	  </div>
	  
</div>